# The Mysql volume is there for convenience but should not be
# versionned as it contains databases and configuration
# Putting a .gitkeep file in the folder allows the empty folder
# to be versionned and avoid ownership issues
/docker/mysql/*
!/docker/mysql/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# We do not persist .env files
.env
.env.preprod
.env.prod
